

/* - - - Login Page - - - */


.login-list, .signup-list {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.green-span {
    color: var(--efile-green);
    font-weight: var(--fweight-med);
}
.green-span:hover {
    border-bottom: 1px solid var(--efile-green);
}
.login-hero-image {
    background-image: url('../images/forms-assets/login-hero.jpg');
    background-size: contain;
    min-width: 100%;
    min-height: 30vh;
    background-position: top;
}
/* - - - Signin Page - - - */

.signup-hero-image {
    background-image: url('../images/forms-assets/signup-hero.jpg');
    background-size: contain;
    min-width: 100%;
    min-height: 30vh;
    background-position: top;
}

/* - - - Form Styling - - - */
.login-form-modal, .signup-form-modal {
    justify-self: center;
    width: 70%;
    max-width: 430px;
    min-width: 280px;
}
.modal-content {
    width: 100%;
    padding: 3rem 2rem;
    background-color: #fff;
    box-shadow: 0px 3px 20px rgba(114,118,119, 0.16);
    
}
#id02 .modal-content {
    margin-top: -55rem;
}
#id01 .modal-content {
    margin-top: -30rem;
}
.modal-content .container {
    display: flex;
    flex-direction: column;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: rgba(46, 89, 135, .05);
    border: none;
  }
  .modal-content a {
      text-align: right;
  }
/* - - - Contact Page - - - */

   .contact-hero-image {
    background-image: url("../images/forms-assets/contact-hero.jpg");
    min-width: 100%;
    min-height: 30vh;
    background-position: top;
    background-size: contain;    
}
.contact-label {
    font-size: 1.5rem;
    font-weight: var(--fweight-med);
    margin-top: 3rem;
    margin-bottom: 1rem;
    letter-spacing: 0;
    color: var(--efile-blue);
}
.contact-intro-text p {
    letter-spacing: 0;
}

  @media only screen and (max-width: 1020px) {
    .login-hero-image {
        background-size: cover;
        background-position: 30% top;
    }
    .signup-hero-image {
        background-position: 30% center;
    }

    .contact-hero-image {
        background-size: cover;
        background-position: center top;
    }

    .login-form-modal, .signup-form-modal {
        width: 92%;
        min-width: 300px;
    }
    .modal-content {
        padding: 2rem 1.5rem;
    }
}

@media only screen and (max-width: 885px) {
    .login-hero-image {
        min-height: 50vh;
        background-position: bottom;
    }
    .signup-hero-image {
        min-height: 40vh;
        background-position: bottom;
    }
    .modal-content {
        margin-top: -10rem;
    }
}

@media only screen and (max-width: 375px) {
    #submit-login {
        min-width: 150px;
    }
}
