.nav-menu>li:nth-child(3)>a {
    color: var(--efile-green);
}
/* - - - Resources page - - - */
/* - - - Resources Intro - - - */
.resources-intro-text {
    padding-top: 2rem;
}
.resources-hero {
    background-image: url("../images/resources-assets/resources-hero.jpg");
    min-width: 100%;
    min-height: 30vh;
    background-position:  30% 20%;
    background-size: contain; 
}
.resources-main-text>p {
    color: var(--efile-soft-black);
    text-align: center;
    max-width: 1400px;
}
.resources-main-text {
    padding: 0 10%;
}
/* - - - Resources Deadlines  - - - */
/* - - - Resources Choosing Forms  - - - */
/* - - - Resources Due Dates  - - - */
/* - - - Resources Penalties  - - - */

.pen-info {
    display: flex;
    align-items: flex-end;
}
.pen {
    width: 50%;
}
.pen-illo {
    background-image: url("../images/resources-assets/resources-illo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 30vh;
    max-height: 50vh;
}

/* - - - -  TABLE CSS - - - - - - */
/* - - - - - - - - - - - - - - - */
.efile-table {
    max-width: 750px;
    letter-spacing: .0175em;
}
.efile-table li {
    list-style: none;
    padding: 1.75rem;
}
.efile-table ol {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    width: 100%;
    margin: 0;
}
.efile-table li:first-child {
    background-color: rgba(114,118,119, 0.03);
    font-weight: var(--fweight-med);
}
.efile-table li:nth-child(2) {
    background-color: rgba(114,118,119, 0.06);
}
.deadline-table li:last-child {
    background-color: var(--efile-green);
    color: #fff;
}
.due-date-table li:last-child {
    background-color: var(--efile-blue);
    color: #fff;
}
.table-head {
    font-weight: var(--fweight-med);
    text-align: center;
    border-bottom: 3px solid var(--efile-gold);
}




/* - - - FAQ page - - - */
.faq-list {
    padding-top: 2rem;
}
.faq-hero-image {
 background-image: url("../images/resources-assets/faq-hero.jpg");
    min-width: 100%;
    min-height: 30vh;
    background-position:  30% 20%;
    background-size: contain; 
    display: block;
}
.hidden-list  {
    width: 100%;
    margin-top: -6rem;
}
.faq-answers {
    width: 100%;
    margin-top: -6rem;
}
#reveal-list {
    display: none;
    margin-top: 2rem;
}
.faq-q-list li {
    margin-bottom: 1.25rem;
}
.const-faq {
    max-width: 50ch;
}
.hidden-faq, .qa-holder {
    max-width: 85ch;
}
.qa-holder h3 {
    line-height: 1.3;
    margin-bottom: .5rem;
}
button {
    padding:0;
    border: 0;
}
#rm {
    color: var(--efile-gold);
    font-size: 1rem;
    display: block;
}
.read {
    display: inline-block;
    background-image: url(../images/resources-assets/read-more.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 75px;
  }
  .read:hover {
      cursor: pointer;
  }
#rm-tog {
    padding-left: 2rem;
    color: var(--efile-gold);
}
.error-type {
    margin-left: 3rem;
}
.notes {
    font-size: 1rem;
    margin-left: 6rem;
}
.notes li:first-child {
    margin-bottom:1.5rem; 
}
.list-text {
    margin-left: 3rem;
    margin-bottom: 3rem;
    line-height: 1.5;
    color: var(--efile-grey);
}
.list-text li {
    margin-bottom: 1rem;
}
.comb-list {
    grid-area: cl;   
}
.a-h-list {
    grid-area: sl1;
}
.i-m-list {
    grid-area: sl2;
}
.m-w-list {
    grid-area: sl3;
}
.area-notes {
    grid-area: notes;
}
#q28 {
    max-width: 100%;
}
.combine-prog-wrapper {
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
    "cl cl cl cl cl cl"
    "sl1 sl2 sl3 notes notes notes";
    margin-bottom: 3rem;
}
.state-list ul li, .area-notes p {
    font-size: 1rem;
    margin-left: 1rem;
}
.area-notes p {
    margin-bottom: 1rem;
}
@media only screen and (max-width: 885px) {
    .pen-info {
        flex-direction: column-reverse;
        align-items: center;
    }
    .pen {
        width: 100%;
    }
    .pen-illo {
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .faq-hero-image {
        background-size: cover;
        min-height: 24vh;
        background-position: center;
    }
    .faq-answers {
        margin-top: 0;
    }
    .faq-answers * h3, .faq-answers * p {
        text-align: left;
    }
    .combine-prog-wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "cl cl cl"
        "sl1 sl2 sl3" 
        "notes notes notes";
        margin-bottom: 3rem;
    }
}
@media only screen and (max-width: 540px){
    /* - - - - MQ TABLE CSS - - - - - - */
    .efile-table {
        margin: 0 auto;
    }
    .efile-table ol {
        grid-template-columns: 50% 50%;
        margin: 0 0 3rem;
    }
    .efile-table li:last-child {
    grid-column: 1 / 3; 
    }
    .table-data {
        border-top: 3px solid var(--efile-gold);
        border-bottom: 3px solid var(--efile-gold); 
        border: 3px solid var(--efile-gold);
        text-align: center;
    }
    .table-head {
        border-bottom: 3px solid var(--efile-gold);
        border-top: 3px solid var(--efile-gold);
    }
}