/* - - - Services Page - - - */
.nav-menu>li:nth-child(2)>a {
    color: var(--efile-green);
}
.span-center, .span-center-smallonly  {
    text-align: center;
}


/* - - - Services Hero Section - - - */
.services-hero-text {
    min-height: 24vh;
    padding-top: 2rem;
}
.services-hero {
    background-image: url("../images/services-assets/services-hero.jpg");
    height: 100%;
    min-height: 20vh;
    background-position: right top;
    background-size: cover;
    max-height: 600px;
}
/* - - - Our Services Section - - - */
.our-services {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
}

.services-dots {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    justify-self: center;
}
.all-dots {
    width: 150px;
    height: 150px;
    min-width: 150px;
    text-align: center;  
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.all-dots>p {
    color: #fff;
    font-size: 1.25rem;
}
.dot1 {
    background-color: var(--efile-gold);
}
.dot2 {
    background-color: var(--efile-blue);
}
.dot3 {
    background-color: var(--efile-green);
}
.dot4 {
    background-color: var(--efile-grey);
}
.dot5 {
    background-color: var(--efile-soft-black);
}
.dot6 {
    background-color: var(--efile-gold);
}
/* - - - TIN Section - - - */

.tin-illo {
    background-image: url("../images/services-assets/services-illo1.svg");
    width: 75%;
    min-height: 20vh;
}
/* - - - E-Delivery Section - - - */
.e-delivery-illo {
    background-image: url("../images/services-assets/services-illo2.svg");
    min-height: 20vh;
}
/* - - - Fed and State Section - - - */
.fed-state-illo {
    background-image: url("../images/services-assets/services-illo3.svg");
    background-position: right;
    width: 90%;
    margin: 0 0 0 auto;
    min-height: 34vh;
}
/* - - - Correction Filing Section - - - */
.correction-file-illo {
    background-image: url("../images/services-assets/services-illo4.svg");
    background-position: left;
    min-height: 34vh;
}
/* - - - Outsourcing Section - - - */
.outsourcing-illo {
    background-image: url("../images/services-assets/services-illo5.svg");
    min-height: 25vh;
    width: 75%;
    background-position: center 86%;
}
/* - - - Supported Forms Section - - - */
.services-forms {
    width: 100%;
}
.sp-box-text {
    font-size: 1.125rem;
    line-height: 1.3;
    color: #fff;
    font-weight: var(--fweight-reg);
    margin-bottom: .5rem;
    text-align: left;
    padding: .5rem 1rem;
}
.services-forms h5 {
    max-width: 400px;
}
.services-form-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    justify-content: space-around;
    justify-items: center;
}
.formex {
    width: 100%;
    max-width: 400px;
    height: 565px;
    margin: 0 0 1.5rem;
    padding: 0 0 1rem;
}
.formplace {
    height: 120px;
    max-width: 75%;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
}
.exbox1 {
    background-color: var(--efile-gold);
}
.eplace1 {
    background-image: url("../images/home-assets/form1099.svg");
}
.exbox2 {
    background-color: var(--efile-blue);
}
.eplace2 {
    background-image: url("../images/home-assets/form1098.svg");
}
.exbox3 {
    background-color: var(--efile-green);
}
.eplace3 {
    background-image: url("../images/home-assets/formw2.svg");
}
.list1099s {
    width: 50%;
}
/* - - - Affordable Care Act Section - - - */
.afford-care-illo {
    background-image: url("../images/services-assets/services-illo6.svg");
    min-height: 28vh;
}

/* - - - How it Works Page - - - */
/* - - - How Hero Section - - - */
.how-hero-text {
    padding-top: 2rem;
}
.how-hero {
    background-image: url("../images/services-assets/how-hero.jpg");
    min-width: 100%;
    min-height: 30vh;
    background-position: 30% 20%;
    background-size: contain;
}
.how-text ul {
    line-height: 1.6;
    margin-bottom: 2.25rem;
}
.how-illo {
    background-image: url("../images/services-assets/how-illo1.svg");
    min-height: 20vh;
    background-position: center 86%;
}
/* - - - How Benefits Section - - - */
.how-benefits {
    width: 100%;
    max-width: 1200px;
}
.how-benefit-boxes {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 2.5rem;
    grid-column-gap: 1vw;
    justify-items: center;
}
.how-benefit {
    width: 375px;
    height: 375px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
}
.how-benefit p {
    text-align: left;
    padding-top: 2rem;
    font-size: 1.75rem;
    line-height: 1.4;
}

.howbox1 {
    background-color: var(--efile-gold);
}
.howbox2 {
    background-color: var(--efile-grey);
}
.howbox3 {
    background-color: var(--efile-blue);
}
.howbox4 {
    background-color: var(--efile-soft-black);
}
.howbox5 {
    background-color: var(--efile-green);
}
.howbox6 {
    background-color: var(--efile-gold);
}
/* - - - How Delivery Section - - - */
.title-only h3 {
    margin-bottom: 0;
}
.how-benefits {
    text-align: center;
}
.delivery {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.drive {
    display: flex;
    margin-bottom: 3rem;
}
.drive img {
    padding-left: 1rem;
}
#span-bold, #span2-bold, #span3-bold {
    font-weight: var(--fweight-med);
}
.d-plan {
    color: var(--efile-soft-black);
    font-size: 1.85rem;
    margin-bottom: 1.5rem;
}
.delivery .main-text {
    text-align: center;
}
.delivery-options-wrap {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: center;
    align-items: stretch;
    margin-top: 3rem;
    z-index: 10;
}
.d-opt {
    width: 33%;
    max-width: 400px;
    padding: .5rem 2rem 0;
    box-shadow: -2px -2px 4px rgba(114,118,119, 0.2), 2px 2px 4px rgba(114,118,119, 0.2);
    background-color: #fff;
}
.e-only {
    height: 400px;
    padding-top: 2rem;
    margin-top: -2rem;
    margin-left: 1vh;
    margin-right: 1vh;
}
.d-opt .support-text {
    font-size: 1.115rem;
    line-height: 1.4;   
}
.d-opt-img {
    display: flex;
    justify-content: center;
}
.d-opt-img img {
    padding: 2rem 1rem;
}

/* - - - How Pricing Section - - - */
.pricing {
    background-color: var(--efile-green);
    z-index: -5;
    margin-top: -15rem;
    padding: 15rem 7% 4rem;
    width: 100%;
    color: #fff;
}
.pricing h3, .pricing p {
    color: #fff;
}
.price-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.pricing-text1 {
    margin-right: 4rem;
}
.pricing-text2 {
    margin-left: 4rem;
}
.pricing-text1, .pricing-text2 {
    width: 50%;
}
.ongreen {
    margin-top: 2rem;
}
.ongreen li {
    color: #fff;
}
.pricing-text3 {
    color: #fff;
    margin-top: 3rem;
}
/* - - - How Cost Tables Section - - - */
.how-ready {
    text-align: center;
}
.ready  {
    font-size: 2.25rem;
    margin-bottom: 2.25rem;
}
/* - - - - - - - - - - - - - - - - - - - */
/* - - - Tables Style Section - - - */

.price-table li:nth-child(odd) {
    background-color: rgba(114,118,119, 0.03);
    font-weight: var(--fweight-med);
}
.price-table li:nth-child(even) {
    background-color: rgba(114,118,119, 0.06);
}
.price-table li:last-child {
    background-color: var(--efile-blue);
    color: #fff;
}
.price-table li {
    padding: 1rem .5rem;
}


/* - - - forms pricing table - - - */
.forms-pricing-table ol {
    grid-template-columns: 1.25fr 0 0 1fr 1fr 0 0 1fr 1fr;
}
.forms-pricing-table .table-data li:nth-child(n+2):nth-child(-n+3), .forms-pricing-table .table-data li:nth-child(n+6):nth-child(-n+7), .forms-pricing-table .table-head li:nth-child(n+2):nth-child(-n+3), .forms-pricing-table .table-head li:nth-child(n+6):nth-child(-n+7) {
    padding: 0;
    visibility: hidden;
    height: 0;
}
/* - - -  ACA pricing table - - - */
.aca-pricing-table ol{
grid-template-columns: 1.25fr 0 0 1fr 1fr 0 0 0 1fr;
}
.aca-pricing-table .table-data li:nth-child(n+2):nth-child(-n+3), .aca-pricing-table .table-data li:nth-child(n+6):nth-child(-n+8), 

.aca-pricing-table .table-head li:nth-child(n+2):nth-child(-n+3), .aca-pricing-table .table-head li:nth-child(n+6):nth-child(-n+8){
    padding: 0;
    visibility: hidden;
    height: 0;
}
/* - - - pricing mq area - - - */

@media only screen and (max-width: 540px) {

    .price-table ol {
        grid-template-columns: 50% 50%;
    }
    .price-table li:nth-child(1) {
        grid-column: 1 / 3;
        background-color: var(--efile-blue);
    }
    .forms-pricing-table .table-data li:nth-child(n+2):nth-child(-n+3), .forms-pricing-table .table-data li:nth-child(n+6):nth-child(-n+7),
    
    .aca-pricing-table .table-data li:nth-child(n+2):nth-child(-n+3), .aca-pricing-table .table-data li:nth-child(n+6):nth-child(-n+7){
        padding: 0;
        visibility: visible;
        height: auto;
        font-weight: var(--fweight-bold);
        font-size: 1rem;
        background-color: rgba(46, 89, 135, .25);    }
        .aca-pricing-table .table-data li:nth-child(8) {
            background-color:rgba(114,118,119, 0.06);
        }
        .price-table li:last-child {
            background-color: #fff;
            color: var(--efile-grey);
        }
    }


/* - - - - - - - - - - - - - - - - - - - - - */
@media only screen and (max-width: 1300px) {

    .services-hero {
        min-height: 16vh;
        background-position: center top;
    }
    .all-dots {
        width: 120px;
        height: 120px;
        min-width: 120px;
    }
    .all-dots>p {
        font-size: 1rem;
    }
    .tin-illo {
        background-position: center 65%;
        width: 90%;
    }
    .fed-state-illo {
        background-position: right 65%;
        width: 100%;
    }
    .correction-file-illo {
        min-height: 28vh;
    }
    .service-page .btn-style .blue-btn {
        text-align: center;
    }
    .how-benefit {
        width: 100%;
        max-width: 400px;
        height: auto;
    }
}
@media only screen and (max-width: 1020px) {
    .tin-illo {
        width: 100%;
        background-position: right 86%;
    }
    .fed-state-illo {
        background-position: right 86%;
    }.correction-file-illo {
        background-position: left 86%;
    }
    .afford-care-illo {
        background-position: center 76%;
    }
    .services-form-grid {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        justify-content: center;
    }
    .span2column-on-small {
        grid-column: 1 / 3;
        margin: 0 auto;
    }
    .sp-box-text  {
        line-height: 1.6;
        padding: 5% 5% 0;
    } 
    .formplace {
        max-width: 65%;
    }
    .formex {
        max-width: 100%;
    }
    .exbox3 {
        width: 100%;
        max-width: 100%;
        height: 300px;
    }
    .eplace3 {
        max-width: 36%;
    }
    .how-benefit-boxes {
        grid-template-columns: repeat(2, 1fr);
    }
    .e-only {
        height: 455px;
    }
}

@media only screen and (max-width: 885px) {

    /* - - - Sections to Center at Small Screen - - - */
    .tin-text, .e-delivery, .fed-state-text, .correction-file-text, .outsourcing-text, .afford-care-text   {
        text-align: center;
    }
     /* - - - Services media query 885 - - - */
    .tin-illo {
        display: none;
    }
    .e-delivery-illo {
        background-position: bottom left;
        min-height: 34vh;
    }
    .fed-state-illo {
        grid-row: 7;
    }
    .correction-file-illo {
        min-height: 20vh;
    }
    .outsourcing-illo {
        grid-row: 11;
    }
    .afford-care-illo {
        grid-row: 14;
    }
    .service-page {
        grid-row-gap: 3rem;
    }
    .services-hero-text {
        min-height: 16vh;
    }
    .services-hero {
        background-size: cover;
        min-height: 24vh;
        background-position: center;
    }
    .services-dots {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 2rem;
    }
    .sp-box-text  {
        line-height: 1.45;
        }
    .formplace {
        height: 100px;
        }
/* - - - how it works 885 media query - - - */
    .how-hero {
        background-position: center top;
        background-size: cover;
        min-height: 50vh;
    }
    .how-illo {
        min-height: 28vh;
    }
    .how-benefit {
        width: 275px;
        height: 275px;
    }
    .how-benefit p {
        padding-top: 2rem;
        font-size: 1.15rem;
        line-height: 1.3;
    }
    .d-opt {
        width: 100%;
    }
    .delivery-options-wrap {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .e-only {
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: auto;
        padding-top: 0;
    }
    .price-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .pricing-text1, .pricing-text2 {
        width: 100%;
        text-align: left;
        margin-left: 0;
    }
    .pricing-text1 p {
        text-align: left;
        margin-bottom: 3rem;
    }
    .pricing-text2 p {
        text-align: left;
    }
}
@media only screen and (max-width: 740px) {
    .fed-state-illo {
        min-height: 28vh;
    }
    .services-form-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 100%;
        justify-content: center;
    }
    .class3 {
        grid-column: 1;
    }
    .formplace {
        height: 150px;
        max-width:65%;
    }
    .formex {
        height: auto;
        padding-bottom: 2rem;
    }
    .how-benefit-boxes {
        grid-template-columns: 1fr;
        grid-row-gap: 1vh;
    }
    .how-benefit {
        height: auto;
    }
}

@media only screen and (max-width: 540px) {
    .services-hero {
        min-height: 16vh;
    }
    .services-dots {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr 1fr;
    }
    .our-services {
        width: 90%;
        max-width: 300px;
    }
    .e-delivery-illo {
        min-height: 20vh;
    }
    .fed-state-illo {
        min-height: 20vh;
    }
/* - - - how it works 885 media query - - - */
    .how-hero {
        min-height: 22vh;
    }
}
