#footer-nav {

    border: 1px solid black;
}
.holder {
    display: flex;
    border: 1px solid red;
}
#footer-menu {
    background-color: pink;
    display: flex;
    justify-content: flex-end;
}
footer #footer-nav-item, #contact-link {
    padding: 10px 4%;
    margin: 0;
}
#contact-link a:hover {
    color: green;
}
@media only screen and (max-width: 885px) {
    .holder,  {
        justify-content: center;
        align-items: center;
    }

}