ol {
    border: 1px solid pink
  }
  ol li{
    list-style-type: none;
    padding: .5rem;
  }
  /* -- grid for each column, to align rows*/
  .aca-pricing-table ol {
    display: grid;
    grid-template-rows: 80px repeat(10, 1fr);
  }
  .forms-pricing-table ol {
    display: grid;
    grid-template-rows: 80px repeat(6, 1fr);
  }
  /* -- overall grid for table, extra columns for mq columns hidden*/
  .aca-pricing-table {
    display: grid;
    grid-template-columns:  1.25fr 1fr 0 1fr 0 1fr;
    width: 50%;
  }
  .forms-pricing-table {
    display: grid;
    grid-template-columns:  1.25fr 1fr 0 1fr 0 1fr 0 1fr;
    width: 50%;
  }
  .qty2 {
    visibility: hidden;
    padding: 0;
    height: 0;
  }
  /* -- -- shading -- -- */
.gen2-table ol:nth-child(odd) {
    background-color: rgba(114,118,119, 0.03);
}
.gen2-table ol:nth-child(even) {
    background-color: rgba(114,118,119, 0.06);
}
.gen2-table ol:last-child {
    background-color: var(--efile-blue);
    color: #fff;
}

  /* -- -- header-style -- -- */
  .gen2-table ol li:first-child {
      border-bottom: 3px solid var(--efile-gold);
      font-weight: var(--fweight-med);
      align-self: end;
  }

  @media only screen and (max-width:885px) {
    .qty2 {
      visibility: visible;
    }
    .aca-pricing-table, .forms-pricing-table {
       grid-template-columns: 1.25fr 1fr;
    }
    .gen2-table {
        grid-row-gap: 2rem;
    }
    .gen2-table ol:last-child {
        background-color: rgba(114,118,119, 0.06);
        color: var(--efile-grey);
  }
  







/* - - - MAIN TABLES to keep - - - */
.gen2-table {
    max-width: 750px;
    letter-spacing: .0175em;
}
.gen2-table li {
    list-style: none;
    padding: .5rem;
}



/*
.efile-table {
    max-width: 750px;
    letter-spacing: .0175em;
}
.efile-table li {
    list-style: none;
    padding: .5rem;
}
.efile-table .table-head li {
    padding: 1.75rem 1.75rem 1rem;
    display: flex;
    align-items: flex-end;
}
.efile-table ol {
    display: grid;
    grid-template-columns: 25% 25% 50%;
    width: 100%;
    margin: 0;
}
.efile-table li:first-child {
    background-color: rgba(114,118,119, 0.03);
    font-weight: var(--fweight-med);
}
.efile-table li:nth-child(2) {
    background-color: rgba(114,118,119, 0.06);
}
.table-head {
    font-weight: var(--fweight-med);
    text-align: center;
    border-bottom: 3px solid var(--efile-gold);
}

@media only screen and (max-width: 540px){
    - - - - MQ TABLE CSS - - - - - - 
    .efile-table {
        margin: 0 1rem;
    }
    .efile-table ol {
        grid-template-columns: 50% 50%;
        margin-bottom: 1.5rem;
        box-shadow: 3px 3px 3px rgba(114,118,119, 0.10);
    }
   .efile-table .table-head {
        display: none;
    }
    .table-data {
        margin: 0;
    }
    - - - change highlighted box - - - 
    .efile-table li:first-child {
    grid-column: 1 / 3; 
    }

    .efile-table li:last-child {
        background-color: #fff;
        color: var(--efile-grey);
    }
    .efile-table li:first-child {
        background-color: var(--efile-blue);
        color: #fff;
    }

    .table-data {
        text-align: center;
    }
}


 - - - - - - - - - - - - - 
 - - - pricing table - - - 

.price-table li:nth-child(odd) {
    background-color: rgba(114,118,119, 0.03);
    font-weight: var(--fweight-med);
}
.price-table li:nth-child(even) {
    background-color: rgba(114,118,119, 0.06);
}
.price-table li:last-child {
    background-color: var(--efile-blue);
    color: #fff;
}
.price-table li {
    padding: 1rem;
}

 - - - forms pricing table - - - 
.forms-pricing-table ol {
    grid-template-columns: 1.25fr 0 0 1fr 1fr 0 0 1fr 1fr;
}
.forms-pricing-table .table-data li:nth-child(n+2):nth-child(-n+3), .forms-pricing-table .table-data li:nth-child(n+6):nth-child(-n+7), .forms-pricing-table .table-head li:nth-child(n+2):nth-child(-n+3), .forms-pricing-table .table-head li:nth-child(n+6):nth-child(-n+7) {
    padding: 0;
    visibility: hidden;
    height: 0;
}
 - - -  ACA pricing table - - - 
.aca-pricing-table ol{
grid-template-columns: 1.25fr 0 0 1fr 1fr 0 0 0 1fr;
}
.aca-pricing-table .table-data li:nth-child(n+2):nth-child(-n+3), .aca-pricing-table .table-data li:nth-child(n+6):nth-child(-n+8), 

.aca-pricing-table .table-head li:nth-child(n+2):nth-child(-n+3), .aca-pricing-table .table-head li:nth-child(n+6):nth-child(-n+8){
    padding: 0;
    visibility: hidden;
    height: 0;
}
 - - - pricing mq area - - - 

@media only screen and (max-width: 540px) {

    .price-table ol {
        grid-template-columns: 50% 50%;
    }
    .price-table li:nth-child(1) {
        grid-column: 1 / 3;
        background-color: var(--efile-blue);
    }
    .forms-pricing-table .table-data li:nth-child(n+2):nth-child(-n+3), .forms-pricing-table .table-data li:nth-child(n+6):nth-child(-n+7),
    
    .aca-pricing-table .table-data li:nth-child(n+2):nth-child(-n+3), .aca-pricing-table .table-data li:nth-child(n+6):nth-child(-n+7){
        padding: 0;
        visibility: visible;
        height: auto;
        font-weight: var(--fweight-bold);
        font-size: 1rem;
        background-color: rgba(46, 89, 135, .25);    }
        .aca-pricing-table .table-data li:nth-child(8) {
            background-color:rgba(114,118,119, 0.06);
        }
        .price-table li:last-child {
            background-color: #fff;
            color: var(--efile-grey);
        }
    }
        
 
 DUE DATE TABLE  AREA ONLY 
 grid hide extra label columns 
    .due-date-table ol {
        grid-template-columns: 25% 0 0 25% 50%;
    }
    .due-date-table li:nth-child(2) {
        background-color: transparent;
    }
    .due-date-table li:last-child {
        background-color: var(--efile-blue);
        color: #fff;
    }
    .due-date-table .table-data li:nth-child(n+2):nth-child(-n+3) {
        padding: 0;
        visibility: hidden;
        height: 0;
    }

 @media only screen and (max-width: 540px) {
   - - DUE DATE row @mq test - - -

        .due-date-table ol {
            grid-template-columns: 50% 50%;
        }
        .due-date-table li:nth-child(1) {
            grid-column: 1 / 3;
        }
        .due-date-table .table-data li:nth-child(n+2):nth-child(-n+3) {
            padding: 0;
            visibility: visible;
            height: min-content;
            font-weight: var(--fweight-bold);
            font-size: 1rem;
            background-color: rgba(46, 89, 135, .25);
        }
        .due-date-table li:last-child {
            background-color:rgba(114,118,119, 0.06);
            color: var(--efile-grey);
        }
        .due-date-table li:first-child {
            font-weight: var(--fweight-bold);
            font-size: 1.3rem;
            padding: .75rem;
        }
 }


  DEADLINE DATE TABLE  AREA ONLY 
 grid hide extra label columns 
.deadline-table ol {
    grid-template-columns: 25% 0 0 25% 50%;
}
.deadline-table li:nth-child(2) {
    background-color: transparent;
}
.deadline-table li:last-child {
    background-color: var(--efile-green);
    color: #fff;
}
.deadline-table .table-data li:nth-child(n+2):nth-child(-n+3) {
    padding: 0;
    visibility: hidden;
    height: 0;
}
@media only screen and (max-width: 540px) {
    .deadline-table ol {
        grid-template-columns: 50% 50%;
    }
    .deadline-table li:nth-child(1) {
        grid-column: 1 / 3;
    }
    .deadline-table li:first-child {
        background-color: var(--efile-green);
        color: #fff;
        padding: 1rem;
    }

    .deadline-table .table-data li:nth-child(n+2):nth-child(-n+3) {
        padding: 0;
        visibility: visible;
        height: min-content;
        font-weight: var(--fweight-bold);
        font-size: 1rem;
        background-color: rgba(126, 164, 75, .25);
    }
    .deadline-table li:last-child {
        background-color:rgba(114,118,119, 0.06);
        color: var(--efile-grey);
    }
    .deadline-table li:first-child {
        font-weight: var(--fweight-bold);
        font-size: 1.3rem;
        padding: .75rem;
    }
}

*/